{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}University{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'apple.ico' %}">
</head>
<body>
<div dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'course:home' %}">صفحه نخست <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:contact_us' %}">ارتباط با ما </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:logout' %}">خروج </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:profile' %}">نمایه </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'course:panel' %}">مدیریت کارها </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:login' %}">ورود </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:signup' %}">ثبت نام </a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
</div>

<div class="container" dir="rtl" style="margin: 20px auto;">
    {% block breadcrumb %}
    {% endblock %}
    <di>
        {% block content %}
        {% endblock %}
    </di>
</div>
</body>
</html>