{% extends 'base.html' %}

{% block content %}
    <div class="card-body">
        <h5 class="card-title">اطلاعات پروفایل</h5>
    </div>

    <form action="{% url 'course:create_course' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block mb-4">ایجاد </button>
    </form>

    <div style="color:red;">
        {% for error in form.errors.values %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
{% endblock %}