{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card-body">
        <h5 class="card-title">اطلاعات پروفایل</h5>
    </div>

    <form action="{% url 'account:edit_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" href="{% url 'account:edit_profile' %}" class="btn btn-primary btn-block mb-4">ثبت
        </button>
    </form>

    <div style="color:red;">
        {% for error in form.errors.values %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
{% endblock %}