{% extends 'base.html' %}


{% block breadcrumb %}
    <h1 dir="rtl" class="breadcrumb-item active">ورود</h1>
{% endblock %}
{% block content %}
    <form action={% url 'account:login' %} method="post">
        {% csrf_token %}
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" name="username" class="form-control"/>
            <label class="form-label" for="form2Example1">نام کاربری </label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" name="password" class="form-control"/>
            <label class="form-label" for="form2Example2">رمز عبور </label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">ورود</button>
    </form>
    <div style="color:red;">
        {% for error in form.errors.values %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
{% endblock %}
