{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_authenticated %}
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>دانشکده</th>
                <th>نام</th>
                <th>شماره گروه</th>
                <th>شماره درس</th>
                <th>نام استاد</th>
                <th>ساعت شروع</th>
                <th>ساعت پایان</th>
                <th>روز اول</th>
                <th>روز دوم</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ course.department }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.group_number }}</td>
                    <td>{{ course.course_number }}</td>
                    <td>{{ course.teacher_name }}</td>
                    <td>{{ course.start_time }}</td>
                    <td>{{ course.end_time }}</td>
                    <td>{{ course.display_first_day }}</td>
                    <td>{{ course.display_second_day }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if request.user.is_superuser %}
        <a href="{% url 'course:create_course' %}" class="btn btn-primary btn-block mb-4">ایجاد واحد </a>
    {% endif %}

{% endblock %}
