{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}


{% block content %}
    {% if request.user.avatar %}
        <div class="form-outline mb-4" style="display: flex;">
            <img class="card-img-top" src="{{ request.user.avatar.url }}" alt="connect"
                 style="height: 9rem;width: 9rem;border-radius: 50%;margin: auto;">
        </div>
    {% endif %}
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">نام کاربری </label>
        <input value="{{ request.user.username }}" type="text" id="form2Example1" name="username"
               class="form-control" disabled/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">نام </label>
        <input value="{{ request.user.first_name }}" type="text" id="form2Example1" name="username"
               class="form-control" disabled/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">نام خانوادگی </label>
        <input value="{{ request.user.last_name }}" type="text" id="form2Example1" name="username"
               class="form-control" disabled/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">جنسیت</label>
        <input value="{{ request.user.display_gender }}" type="text" id="form2Example1" name="username"
               class="form-control" disabled/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">زندگینامه</label>
        {{ request.user.bio | convert_markdown | safe }}
    </div>

    <a href="{% url 'account:edit_profile' %}" class="btn btn-primary btn-block mb-4">ویرایش</a>
{% endblock %}