{% extends 'base.html' %}

{% block content %}
    <h2>ثبت نام</h2>
    <form {% url 'account:signup' %} method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block mb-4">ثبت نام</button>
    </form>
    <div style="color:red;">
        {% for error in form.errors.values %}
            <p style="color: red">{{ error }}</p>
        {% endfor %}
    </div>
{% endblock %}